/* Add custom styles or overrides */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  @apply text-gray-900 bg-gray-100 font-sans;
}

/* Styles/global.css */

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}